
$darkText:hsl(0, 0%, 100%);
$navColor:hsl(209, 23%, 22%);
$bgDark:hsl(207, 26%, 17%);
$lightText:hsl(200, 15%, 8%);
$darkInputText:hsl(0, 0%, 52%);
$bgLight:hsl(0, 0%, 98%);
$bgNavLight:hsl(0, 0%, 100%);
